.cloth-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cloth-list .item {
  border: 5px solid transparent;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 5px 5px 0;
  width: 32%;
  float: left;
  position: relative;
  cursor: pointer;
}

.itemImg {
  max-width: 100%;
  width: 200px;
  height: 200px;
  vertical-align: middle;
  object-fit: cover;
  margin: auto;

  z-index: 1;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

h2 {
  display: block;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ccc;
  margin: 0 0 10 0;
  padding: 0 0 5 0;
  font-size: 1.5em;
}
